.cell{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: beige;
}
.parent{
    width: 400px;
}
.megaparent{
    height: 100vh;
    position: absolute;
}

.popUpWinner{
   display: none;
    position: absolute;
    top: 250px;
    left: 600px;
    height: 200px;
    width: 300px;
    background-color: bisque;
}
